@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=Hahmlet:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=Hahmlet:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {margin: 0; padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    background: #fff;
    font-family: 'Hahmlet';
    letter-spacing: -0.5px;
}
h1, h2 {
    font-family: 'Playfair Display';
}
h1 {
    color: #412d19;
}
h2 {
    color: #65492d;
}

/* headerTop */
.bgTop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #413833;
    z-index: 98;
}
.headerTop {
    position: relative;
    margin: 0 auto;
    width: 1440px;
    height: 100%;
    line-height: 50px;
    z-index: 99;
    /* border:1px solid blue; */
}
.headerTop ul {
    position: absolute;
    right: 0;
    height: 100%;
}
.headerTop ul a {
    position: relative;
    height: 50px;
    font-size: 14px;
    color: #999593;
    padding-left: 5px;
}
.headerTop ul a span {
    padding-left: 5px;
}
.headerTop ul a img {
    position: relative;
    width: 17px;height: 17px;
    top: 3px;
}

#wrap {
    position: relative;
    top: 50px;
    width: 1440px;
    background: #fff;
    margin: 0 auto;
    overflow: visible;
}

/* header */
#wrap header {
    width: 100%;
    height: 298px;
    background-color: #fff;
    margin: 0 auto;
    position: fixed;
    top: 50px;
    z-index: 3;
}
#wrap header .toggle {
    display: none;
}
#wrap header .toggle img {
    width: 45px;height: 45px;
    margin-top: 40px;
}
#wrap header .logo {
    width: 1440px;
    height: 198px;
    display: flex;
    /* margin-bottom: 35px; */
    /* border:1px solid blue; */
}
#wrap header .logo img {
    width: 187px;height: 118px;
    margin: 45px auto;
}
#wrap header nav {
    /* border:1px solid blue; */
    position: absolute;
    width: 1440px;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    gap: 26px;
    background-color: #fff;
    /* bottom: 0; */
}
/* #wrap header nav.menu {
    position: fixed;
} */
#wrap header nav.menu h4 {
    padding: 0;
    font-size: 14px;
    line-height: 22px;
}
#wrap header nav ul.mainmenu {
    /* width: 1440px; */
    height: 100%;
    /* border: 2px solid blue; */
    display: flex;
    /* justify-content: space-around; */
}
#wrap header nav ul.mainmenu li.menu-item {
    /* width: 100%; */
    height: 50px;
    /* position: relative; */
    /* padding: 0 10px; */
    /* border: 1px solid green; */
    /* background: #000; */
}
#wrap header nav ul.mainmenu li.menu-item h4 {
    padding: 4px 10px;
    /* position: absolute; */
    position: relative;
    top: 10px;
    height: 30px;
    line-height: 22px;
    /* display: block; */
    /* border: 1px solid yellow; */
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.2px;
    text-align: center;
}
/* #wrap header nav ul.mainmenu li.menu-item h4 a {
    
} */
#wrap header nav ul.mainmenu li.menu-item .submenuText {
    position: absolute;
    top: 100px;
    left: 113px;
    display: none;
    /* background: #f0e7de; */
    z-index: 60;
}
#wrap header nav ul.mainmenu li.menu-item .submenuText .subText {
    columns: 2;
    
}
#wrap header nav ul.mainmenu li.menu-item .submenuText h2 {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    font-family: 'Hahmlet';
    margin-bottom: 25px;
}
#wrap header nav ul.mainmenu li.menu-item .submenuText p {
    margin-bottom: 5px;
}

#wrap header nav ul.mainmenu .submenuImg {
    position: absolute;
    width: 10000px;
    height: 373px;
    top: 49px;
    left: 0;
    /* margin: 0 auto; */
    background: #f0e7de;
    z-index: 50;
    display: none;
}
#wrap header nav ul.mainmenu .submenuImg img {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 1440px;
    height: 373px;
    /* display: none; */
}
#wrap header nav ul.mainmenu li.menu-item:hover .submenuImg img.active {
    display: block;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#wrap header .mobileMenu {
    display: none;
}
#wrap header .mobileMenu ul {
    display: flex;
    gap: 10px;
}
#wrap header .mobileMenu ul li img {
    width: 54px;height: 54px;
    margin-top: 33px;
}

/* main */
#wrap main .product {
    width: 100%;
    height: 800px;
    display: flex;
    margin-top: 300px;
    padding: 100px 0;
    box-sizing: border-box;
}

#wrap main .product .imgarea {
    width: 697px;
    height: 600px;
}

#wrap main .product .imgarea img {
    height: 100%;
}

#wrap main .product .infoarea {
    width: 697px;
    height: 600px;
    display: block;
}

#wrap main .product .infoarea .infoHeader {
    display: flex;
    justify-content: space-between;

}

#wrap main .product .infoarea .infoHeader h2 {
    font-size: 26px;
    line-height: 26px;
    font-family: "Cafe24 Danjunghae";
    color: #222;
}

#wrap main .product .infoarea .infoHeader a.layerPopup {
    position: relative;
}

/* Popup */

/* #popup {
    z-index: 99999;
    width: 200px;
    height: 50px;
    position: absolute;
    background-color: #412d19;
    opacity: 0.8;
    border-radius: 10px;
    right:14px;
    bottom: 14px;
    display: none;
}

#popup p {
    letter-spacing: -1px;
    margin: 7px 15px;
    line-height: 18px;
    color: #fff;
    font-size: 14px;
    font-family: 'Hahmlet';
} */

#wrap main .product .infoarea .infoHeader img:hover {
    fill: #69BD20;
}

#wrap main .product .infoarea>p {
    font-size: 20px;
    line-height: 20px;
    color: #666;
    margin: 10px 0 20px;
}

#wrap main .product .infoarea ul li {
    display: flex;
    gap: 54px;
    margin-bottom: 5px;
}

#wrap main .product .infoarea ul li p {
    font-size: 15px;
    line-height: 22px;
    color: #444;
}

#wrap main .product .infoarea ul li ul li p {
    font-size: 18px;
    line-height: 22px;
    color: #444;
    position: absolute;
    left: 0;
    top: 0;
}

#wrap main .product .infoarea .warning {
    margin-top: 40px;
    display: flex;
    gap: 10px;
}

#wrap main .product .infoarea .warning img {
    width: 24px;
    height: 24px;
}

#wrap main .product .infoarea .warning p {
    font-size: 16px;
    line-height: 24px;
    color: #f76560;
}

#wrap main .product .infoarea .total {
    height: 96px;
    padding: 20px 24px 20px 20px;
    box-sizing: border-box;
}

#wrap main .product .infoarea .total ul li p {
    font-size: 18px;
    line-height: 18px;
    color: #353535;
    margin-bottom: 14px;
}

#wrap main .product .infoarea .total ul li {
    display: flex;
    justify-content: space-between;
}

#wrap main .product .infoarea .total ul li .number {
    display: flex;
    gap: 10px;
}

#wrap main .product .infoarea .total ul li .number img {
    width: 18px;
    height: 18px;
}

#wrap main .product .infoarea .total ul li span {
    font-size: 18px;
    line-height: 18px;
    color: #636363;
    margin-top: -2px;
}

#wrap main .product .infoarea .totalPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px 22px 20px 20px;
    box-sizing: border-box;
    border-top: 1px solid #C0BFBF;
}

#wrap main .product .infoarea .totalPrice p {
    font-size: 18px;
    line-height: 40px;
}

#wrap main .product .infoarea .totalPrice strong {
    font-size: 22px;
    line-height: 40px;
}

#wrap main .product .infoarea .totalPrice .price {
    display: flex;
    gap: 10px;
}


/* mobile */
#wrap main .product .mb_infoarea {
    width: 672px;
    height: 746px;
    display: none;
}

#wrap main .product .mb_infoarea .infoHeader {
    display: flex;
    justify-content: space-between;
}

#wrap main .product .mb_infoarea .infoHeader h2 {
    font-size: 40px;
    line-height: 45px;
    font-family: "Cafe24 Danjunghae";
    color: #222;
}

#wrap main .product .mb_infoarea .infoHeader img {
    width: 38px;
    height: 38px;
    cursor: pointer;
}

#wrap main .product .mb_infoarea .infoHeader img:hover {
    fill: #69BD20;
}

#wrap main .product .mb_infoarea>p {
    font-size: 25px;
    line-height: 30px;
    color: #666;
    margin: 15px 0 25px;
}

#wrap main .product .mb_infoarea .totalPrice {
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: 40px;
    margin-bottom: 50px;
}

#wrap main .product .mb_infoarea .totalPrice strong {
    font-size: 35px;
}

#wrap main .product .mb_infoarea .totalPrice p {
    font-size: 25px;
}

#wrap main .product .mb_infoarea ul li {
    display: flex;
    gap: 100px;
}

#wrap main .product .mb_infoarea ul li p {
    font-size: 24px;
    line-height: 38px;
    color: #444;
}

#wrap main .product .mb_infoarea ul li ul li {
    font-size: 24px;
    line-height: 38px;
    color: #444;
}

#wrap main .product .mb_infoarea .total {
    height: 64px;
    padding: 13px 0;
    box-sizing: border-box;
    margin: 25px 0;
}

#wrap main .product .mb_infoarea .total ul li {
    display: flex;
    gap: 120px;
}

#wrap main .product .mb_infoarea .total ul li .number {
    display: flex;
    gap: 10px;
}

#wrap main .product .mb_infoarea .total ul li .number img {
    width: 38px;
    height: 38px;
}

#wrap main .product .mb_infoarea .total ul li span {
    font-size: 24px;
    line-height: 38px;
    color: #636363;
    margin-top: -2px;
    border: 2px solid #D5D5D5;
    padding: 0 36px;
}

/* =============== */


#wrap main .product .baseBtn {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

#wrap main .product .baseBtn .innerBtn {
    display: flex;
    gap: 10px;
    height: 58px;
}

#wrap main .product .baseBtn .innerBtn img {
    width: 58px;
    height: 58px;
}

#wrap main .product .baseBtn>a {
    background-color: #333;
    padding: 0 127px;
    font-size: 18px;
    line-height: 58px;
    color: #fff;
    font-family: "Poppins";
    font-weight: 200;
    box-sizing: border-box;
}

#wrap main .product .naverBtn {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0;
    margin-top: 10px;
    border-top: 2px solid #2B2F3A;
    height: 58px;
}

#wrap main .product .naverBtn .text {
    width: 137px;
    height: 58px;
    overflow: hidden;

}

#wrap main .product .naverBtn .text img {
    width: 68px;
    height: 13px;
    display: block;
    margin-bottom: 8px;
}

#wrap main .product .naverBtn .text p {
    font-family: "Poppins";
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -2px;
    font-weight: 550;
    color: #4a4a4a;
}

#wrap main .product .naverBtn .nBtn {
    display: flex;
    gap: 10px;
}

#wrap main .product .naverBtn .nBtn a img {
    height: 58px;
}

#wrap main .product .event {
    width: 697px;
    height: 22px;
    overflow: hidden;
    padding: 10px 20px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#wrap main .product .event ul li p {
    font-size: 12px;
    line-height: 12px;
    color: #929294;
}

#wrap main .product .event ul li p strong {
    color: #00c05a;
    margin-right: 5px;
}

#wrap main .product .event .eventBtn {
    display: flex;
}

#wrap main .product .event .eventBtn a img {
    width: 16px;
    height: 16px;
    display: block;
    margin-top: -4px;
}

#wrap main .bothBtn {
    width: 100%;
    height: 80px;
    padding: 15px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrap main .bothBtn a {
    width: 225px;
    height: 58px;
    text-align: center;
    font-size: 20px;
    line-height: 58px;
    font-family: "Poppins";
}

#wrap main .bothBtn a.on {
    border-bottom: 2px solid #54301A;
    font-weight: 550;
}

#wrap main .detailInfo {
    width: 100%;
    padding: 50px 0;
}

#wrap main .detailInfo .infoImg {
    display: grid;
    place-items: center;
}

#wrap main .detailInfo .infoImg img {
    width: 800px;
}

/* mobile */
.mb_infoarea {
    display: none;
}




/* product info */
#wrap .prdInfo_line_act {
    font-family: 'Poppins', 'Dotum', sans-serif;
    padding-bottom: 100px;
}

.tab-tit {
    position: relative;
    cursor: pointer;
}

.tab-tit .arrow-icon {
    content: '';
    width: 18px;
    height: 9px;
    background: url('../images/subPage/tab_arrow.png') center center no-repeat;
    position: absolute;
    top: 50%;
    right: 50px;
    margin-top: -5px;
    transition: transform 0.3s ease;
    /* 회전 애니메이션 */
    transform: rotate(0deg);
    /* 초기 상태 */
}

/* 화살표가 회전했을 때의 상태 */
.tab-tit .arrow-icon.rotated {
    transform: rotate(180deg);
}

#wrap .prdInfo_line_act .tab-tit h2 {
    font-size: 24px;
    width: 30%;
    color: #010101;
    display: table-cell;
    vertical-align: middle;
}

#wrap .prdInfo_line_act .tab-tit p {
    font-size: 16px;
    color: #010101;
    opacity: 0.8;
    display: table-cell;
    vertical-align: middle;
}

#wrap .prdInfo_line_act .cboth_prdInfo_text {
    margin: 0;
    border-top: 0;
    padding: 25px 30px;
    background: #fdfdfd;
    display: none;
}

#wrap .prdInfo_line_act .cboth_prdInfo_text>div {
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 85px;
}

.tab-content th {
    text-align: left;
    font-weight: 400;
    width: 25%;
    font-size: 14px;
    color: #717171;
    vertical-align: top;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.tab-content td {
    font-size: 14px;
    color: #717171;
    vertical-align: top;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}


/* footer */
footer {
    position: relative;
    width: 100%;
    height: 530px;
    left: 0;
    background: #322B27;
    /* text-align: center; */
}

footer p,
footer p a,
footer span {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 10px;
}

footer .foot1 {
    width: 1440px;
    height: 332px;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    /* 수정되면 얘로 패딩값 확인하기 */
    justify-content: space-between;
}

footer .foot1 h6 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    padding-bottom: 20px;
}

footer .foot1 .instagramIcon img {
    padding-top: 5px;
    width: 22px;
    height: 22px;
}

footer .foot1 .customerCenter,
footer .foot1 .links,
footer .foot1 .account,
footer .foot1 .product {
    position: relative;
    height: 270px;
    padding-top: 62px;
}

footer .foot1 .product .pro {
    columns: 2;
}

footer .foot2 {
    width: 1440px;
    height: 86px;
    margin: 0 auto;
    border-top: 1px solid #5b5552;
    text-align: center;
}

footer .foot2 div {
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #635f5d;
    margin: 0 8px 0 10px;
}

footer .blogo {
    width: 1440px;
    height: 70px;
    margin: 5px auto;
    text-align: center;
}






#mb_wrap {
    display: none;
}




/* =========================
    mobile - 768px
========================= */
@media (min-width:769px) {
    .mobile-menu {
        display: none;
    }
}
@media (max-width:768px) {

    /* header */
    .bgTop {
        display: none;
    }

    
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.5);
        z-index: 799;
        display: none;
    }
    .overlay.active {
        display: block;
    }
    .mobile-menu {
        position: fixed;
        min-width: 225px;
        width: 87%;
        top: 0px;
        left: calc(-87% - 10px);
        background: #fff;
        transition: left 0.3s ease; /* 슬라이드 효과 */
        box-shadow: 1px 0 10px rgba(0,0,0,0.3);
        z-index: 801;
    }
    .mobile-menu.active {
        left: 0;
    }
    .mobile-menu .menu-header {
        position: relative;
        width: 95%;
        height: 78px;
        /* display: flex; */
        margin: 0 auto;
    }
    .mobile-menu .menu-header div {
        position: absolute;
        width: 43px;
        height: 43px;
        line-height: 43px;
        /* top: 20px; */
        right: 0;
    }
    .mobile-menu .menu-header div a {
        width: 100%;
        height: 100%;
    }
    .mobile-menu .menu-header div a img {
        position: relative;
        width: 22px;
        height: 22px;
        /* right: 0; */
        margin: 0 auto;
    }
    .mobile-menu .menu-header .hi {
        position: relative;
        top: 20px;
        font-size: 14px;
    }
    .mobile-menu .menu-header a.close {
        position: absolute;
        display: block;
        width: 42px;
        height: 42px;
        right: 0;
        top: 10px;
    }
    .mobile-menu .menu-header a.close img {
        position: absolute;
        width: 22px;
        height: auto;
        left: 10px;
        top: 10px;
    }
    .mobile-menu .menu-header p {
        position: relative;
        width: 90%;
        top: 20px;
        font-size: 18px;
        font-weight: bold;
    }
    .mobile-menu .menu-header .login {
        position: absolute;
        display: flex;
        right: 0;
        top: 55px;
        gap: 10px;
        line-height: 10px;
        font-size: 14px;
    }
    .mobile-menu .menu-header .login div {
        position: relative;
        width: 1px;
        height: 10px;
        background: #000;
    }
    .mobile-menu .menu-head {
        width: 100%;
        height: 63px;
        display: flex;
        /* justify-content: space-between; */
        /* text-align: center; */
        border-bottom: 10px solid #f9f9f9;
        padding: 15px 0
    }
    .mobile-menu .menu-head div {
        position: relative;
        width: 25%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .mobile-menu .menu-head div a {
        position: relative;
        width: 100%;
        display: flex;
        align-items: last baseline;
        justify-content: space-around;
    }
    .mobile-menu .menu-head div a img {
        position: absolute;
        width: auto;
        height: 35px;
        top: 0;
        margin: 0 auto;
    }
    .mobile-menu dl {
        width: 95%;
        height: auto;
        margin: 15px auto;
        /* padding: 0 20px; */
        color: #333;
    }
    .mobile-menu dl p {
        position: relative;
        width: auto;
        height: 50px;
        line-height: 50px;
        border-bottom: 2px solid #f9f9f9;
    }
    .mobile-menu dl p a {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .mobile-menu dl dt {
        position: relative;
        height: 50px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #f9f9f9;
        cursor: pointer;
    }
    .mobile-menu dl dt span {
        width: 100%;
        height: auto;
        position: absolute;
        font-size: 17px;
        
    }
    .mobile-menu dl dt span img {
        position: absolute;
        width: 20px;
        height: auto;
        top: 5px;
        right: 0;
        transition: transform 0.3s ease;
    }
    .mobile-menu dl dt.active span img {
        transform: rotate(180deg);
    }
    .mobile-menu dl dd {
        background: #f9f9f9;
        line-height: 30px;
        padding: 10px 20px 10px 20px;
        display: none;
    }
    .mobile-menu dl dd a {
        display: block;
        font-size: 14px;
        color: #787878;
    }
    #wrap header {
        display: flex;
        width: 768px;
        height: 125px;
        top: 0;
        padding: 0 48px;
        box-sizing: border-box;
    }

    #wrap header .toggle {
        display: block;
        margin-right: 228px;
    }

    #wrap header .logo {
        height: 126px;
    }

    #wrap header .logo img {
        width: 126px;
        height: 79px;
        margin: 23px 0;
    }

    #wrap header nav {
        display: none;
    }

    #wrap header .mobileMenu {
        display: block;
    }

    /* main */

    #wrap main {
        position: absolute;
        top: -900px;
    }
    #wrap main .product {
        width: 672px;
        height: 1460px;
        display: block;
        padding: 0 0 100px;
        margin: 175px 48px 0;
    }

    #wrap main .product .imgarea {
        width: 600px;
        height: 600px;
    }

    #wrap main .product .infoarea {
        display: none;
    }

    #wrap main .product .mb_infoarea {
        display: block;
    }

    #wrap main .product .baseBtn {
        padding: 0;
    }

    #wrap main .product .baseBtn .innerBtn {
        display: flex;
        gap: 10px;
        height: 85px;
    }

    #wrap main .product .baseBtn .innerBtn img {
        width: 85px;
        height: 85px;
    }

    #wrap main .product .baseBtn>a {
        background-color: #333;
        padding: 0 133px;
        font-size: 28px;
        line-height: 85px;
        color: #fff;
        font-family: "Poppins";
        font-weight: 200;
        box-sizing: border-box;
    }

    #wrap main .product .naverBtn {
        padding: 25px 0;
        margin-top: 25px;
        height: 122px;
        box-sizing: border-box;
    }

    #wrap main .product .naverBtn .text {
        width: 145px;
        height: 72px;
    }

    #wrap main .product .naverBtn .text img {
        width: 96px;
        height: 18px;
    }

    #wrap main .product .naverBtn .text p {
        line-height: 24px;
    }

    #wrap main .product .naverBtn .nBtn {
        display: flex;
        gap: 10px;
    }

    #wrap main .product .naverBtn .nBtn a img {
        height: 72px;
    }

    #wrap main .product .event {
        width: 672px;
        height: 38px;
        padding: 10px 0;
    }

    #wrap main .product .event ul li p {
        font-size: 17px;
        line-height: 24px;
        color: #929294;
    }

    #wrap main .product .event .eventBtn a img {
        width: 22px;
        height: 22px;
    }

    #wrap main .bothBtn {
        width: 672px;
        height: 50px;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    #wrap main .bothBtn a {
        width: 200px;
        height: 50px;
        font-size: 22px;
        line-height: 50px;
    }

    #wrap main .detailInfo {
        width: 672px;
        padding: 50px 50px 100px;
    }

    #wrap main .detailInfo .infoImg img {
        width: 572px;
    }




    /* footer */
    footer {
        display: none;
    }

    #mb_wrap {
        position: absolute;
        top: 5000px;
        display: block;
    }

    #wrap .prdInfo_line_act {
        position: relative;
        top: 8300px;
    }
    .mb_footer {
        position: absolute;
        width: 768px;
        height: 821px;
        top: 4500px;
        /* display: flex; */
        /* flex-wrap: wrap; */
        text-align: center;
        justify-content: space-around;
        overflow: visible;
        color: #bdbcbb;
    }

    .mb_footer .footerBg {
        position: absolute;
        width: 10000px;
        height: 821px;
        background: #27201b;
        /* background: #ddd; */
        z-index: -1;
    }

    .mb_footer .firstFoot {
        /* position: relative; */
        width: 768px;
        height: 80px;
        line-height: 80px;
        display: flex;
        background: #201a16;
        align-items: center;
    }

    .mb_footer .firstFoot a {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -1px;
        margin: 0 auto;
        color: #fff;
    }

    .mb_footer .firstFoot div {
        width: 2px;
        height: 15px;
        background: #7d7d7d;
    }

    .mb_footer .blogo img {
        width: 158px;
        height: 98px;
    }

    .mb_footer .blogo {
        position: relative;
        top: 40px;
    }

    .mb_footer p:first-of-type {
        font-size: 35px;
        font-weight: 500;
        letter-spacing: -1px;
        margin-top: 60px;
    }

    .mb_footer>p:nth-child(5) {
        font-size: 24px;
        letter-spacing: -1px;
        margin-top: 10px;
    }

    .mb_footer>p:nth-child(5) a {
        color: #bdbcbb;
    }

    .mb_footer>p:nth-child(6) {
        font-size: 35px;
        letter-spacing: -1px;
        margin-top: 50px;
    }

    .mb_footer h3 {
        font-size: 60px;
        letter-spacing: -1px;
        margin-top: -10px;
    }

    .mb_footer>p:nth-child(8) {
        font-size: 24px;
        color: #666;
    }
}